@import './normalize.css';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

:root {
  --main-color: #F59B45;
  --gradient-color: rgba(22,65,79, 0.6);
}

body {
   color:#fff;
   font-family: 'Open sans',arial, sans-serif;
}


@import './components/header/header.css';
@import './components/nav/nav.css';
@import './components/searchBar/searchBar.css';
